{% extends "layout.html" %}
{% block content %}
    {% for mun_dado in todos %}
        <div class="card p-1 m-3">
            <div class="card-body">
                {% if mun_dado.completed == "True" %}
                    <h5 class="card-title"><del>{{ mun_dado.name }}</del></h5>
                {% else %}
                    <h5 class="card-title">Documento</h5>
                {% endif %}
                <p class="card-text text-muted">{{ mun_dado.Municipio }}</p>
                <p class="card-text">{{ mun_dado.Descricao }}</p>

                <a href="{{ url_for('update_dado', id=mun_dado._id) }}" class="btn btn-outline-info btn-sm">Atualizar</a>

                <a href="{{ url_for('delete_dado', id=mun_dado._id) }}" class="btn btn-outline-danger btn-sm">Deletar</a>

            </div>
        </div>
    {% endfor %}
{% endblock %}
